

.sticky-top{
  position:fixed;
  top:0;
  width:100%;
}

.navbar-brand {
  text-align: center;
  color: #b30086;
}

#angelnecklace{
  background-image:url('../Images/acc4.jpg');
  overflow:hidden;
  background-position:center;
  background-repeat: initial;
  
}
#about{
  height:30em;
}

.container-fluid {
  background-color: #b30086;
}

.ontainer-fluid-header {
  text-align: center;
  padding-top: 30%;
  
}

.OfferPageComponent {
  text-align: center;
  font-family:'Dancing Script' , 'Helvetica', sans-serif;
  font-weight:800;
  font-size:20px;
}

