

.OrderPageComponent { 
  color: #444;
  font-family: 'Dancing Script', cursive;
  
}

.Brand {
  max-width: 800px;
  border-radius: 4px;
  box-shadow: 0 30px 80px 10px rgba(0,0,0,.2);
  display: flex;
  align-items: stretch;
}

.Brand__hero {
  flex: 0 0 45%;
}

.Brand__img {
  width: 100%;
  display: block;
}

.Brand__content {
  flex: 1;
  background: #fff;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
}

.Brand__price {
  flex: 0 1 50px;
  background: linear-gradient(to bottom, #b30086, #cc89bb);
  writing-mode: vertical-rl;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Brand__description {
  font-size: 30px;
  color:#b30086 ;
  margin-top: 50px;
  font-family: 'Dancing Script', cursive;
}

.Brand__details {
  display: flex;
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Dancing Script', cursive;
  margin-right: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.Brand-button {
  margin-left: 25%;
  width: 30%;
  font-size: 30px;
  color: #b30086;
  margin-top: 10px;
}



