
.ProductComponent {
    display: grid;
    
	//grid-template-columns: 1fr 1fr 1fr;
}

img {
    min-width: 100%;
    min-height: 100%;
}
.View {
    color: black;
    background-color: #1abc9c;
    margin-left: 30%;
    margin-top: 5%;
}
.descrption {
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-left: 10%;
}
.container33 {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
   
}
// End of specification

// Gallery
.gallery {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 24px 0;
    
  
}

.gallery__item {
    flex: 0 1 calc(1290px / 3);
    padding: 0 10px;
    margin-bottom: 20px;
  
    
    > figure {
        transition: .3s ease-in-out;
        background: linear-gradient(to top, rgba(0,0,0, .06), rgba(0,0,0, .06)) no-repeat 0 0;
        background-size: 35%;
        padding: 14px 0 14px 20px;
        margin-top: 50px;
        
        &:hover {            
            .gallery__image::after {
                transform: rotateZ(0deg);
                opacity: 1;
            }
            .gallery__btns {
                opacity: 1;
            }
        }
    }
}

.gallery__image {
    position: relative;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 1px;
    padding: 10px;
    margin-top: -50px;
    transition: .3s ease-in-out;
    
    
    &::after {
        content: '';
        background: rgba(21, 21, 21, 0.4);
        position: absolute;
        top: 16px;
        right: 18px;
        bottom: 18px;
        left: 18px;

        opacity: 0;

        transform: rotate(50deg);
        transition: 0.5s ease-in-out;
    }
    
   
    
    // buttons
    .gallery__btns {
        position: absolute;        
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);        
        opacity: 0;
        transition: .3s ease-in-out;
        
        > a {
            position: relative;
            overflow: hidden;
            display: block;
            margin-bottom: 10px;
            text-align: center;
            padding: 12px 40px;
            font-size: 12px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.14rem;
            border: 1px solid white;
            
            &::after {
                content: '';

                position: absolute;
                left: -200%;
                top: -50%;
                width: 150%;
                height: 200%;
                z-index: -1;
                
                transform: skew(-45deg);
                background: white;
                transition: .7s all;
            }
            &:hover::after {
                left: -30%;
            }
            &:hover {
                color: #333;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

