
.container-product {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-top: 15%;
  padding-bottom: 5%;
  padding-left: 5%;
}
.descrption1 {
  text-decoration: line-through;
}
.OfferPageComponent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url("https://cdn.hipwallpaper.com/i/63/90/qZAfaO.jpg");

}
.container-product img {
  width: 100%;
}

.container-product .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: #1abc9c;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container-product .btn:hover {
  background-color: black;
}

.btn1 {
  color: #1abc9c;
  background-color: black;
  margin-bottom: 5%;
  margin-right: 5%;
 padding-bottom: 5%;
 padding-top: 5%;
 width: 40%;
 font-size: 25px;

}