

.OfferPageComponent {
  background-color: #fff;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 40px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(56, 109, 91, 0.87);
}
.card-button-add {
  margin-top: -100px;
  margin-left: 60px;
  padding-top: 10px;
  font-size: 20px;
  color: #1abc9c;
  background-color: rgba(12, 3, 3, 0.795);
}

/* ===== FOR DEMO ===== */




.demo__div  {
  border: 3px solid #1abc9c;
  box-shadow: 10px 10px 10px 10px #1abc9c;
  border-radius: 1px;
}


.demo {
  margin: 0 auto;  
  position: relative; 
  align-items: center;
  justify-content: space-evenly;
}

.demo__div {

  -webkit-box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);
  -moz-box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);
  box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);  
  width: 100px;  
}


/* ===== MAIN CODE ===== */
.people {
  flex: 0 0 23%;
  min-width: 350px;
  height: 500px;
  margin: 25px 5px 0;
  background-color: rgba(229,229,229, 1);
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
}

.people__img {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  // display: block;
  object-fit: cover;
  object-position: center;
  transform-origin: center;
  transition: all 0.4s;
}


.people:hover .people__img {
  margin-top: 20px;
  height: 200px;
  width: 100px;
  border-radius: 50%;
}

.people:nth-of-type(1) .people__img {
  object-position: top center;
  background-color: #fff;
}


.people__div--name {
  background-color: rgba(255,255,255, 0.8);    
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  max-width: 300px;
  line-height: 1.5;
  padding: 0 20px;
  transition: all 0.4s;
}


.people:hover .people__div--name {
  left: -130%;
}

.people-name {
  letter-spacing: 1.1px;
}

.people__div--info {
  position: absolute;
  bottom: 0;
  height: 40%;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;

  background-color: #fff;
  transition: all 0.4s;
}

.people:hover .people__div--info {
  opacity: 1;
  visibility: visible;
}

.people__name {
  margin: 10px 0;
  letter-spacing: 1.1px;
}

.people__desc {
  line-height: 1.5;
  margin: 0 0 20px;
}


@media only screen and (max-width: 1200px) {
  .people {
      flex: 0 0 48%;
  }
}

@media only screen and (max-width: 767px) { 
  body {
      padding: 50px 20px;
  }

  .people {
      flex: 0 0 100%;
      min-width: unset;
      max-width: 400px;
      margin: 25px auto 0;
  }
}



























































/* 
.container-product {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-top: 15%;
  padding-bottom: 5%;
  padding-left: 5%;
}
.descrption1 {
  text-decoration: line-through;
}
.OfferPageComponent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url("https://cdn.hipwallpaper.com/i/63/90/qZAfaO.jpg");

}
.container-product img {
  width: 100%;
}

.container-product .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: #1abc9c;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container-product .btn:hover {
  background-color: black;
}

.btn1 {
  color: #1abc9c;
  background-color: black;
  margin-bottom: 5%;
  margin-right: 5%;
 padding-bottom: 5%;
 padding-top: 5%;
 width: 40%;
 font-size: 25px;

} */