

$text-gray: #606060;
$border: #e5e5e5;


.OrderPageComponent {
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(56, 109, 91, 0.87);	
}
.button-send-order {
   margin-top:40px ;
   margin-left: 40%;
  // margin-bottom: -100px;
  width: 170px;
  height: 55px;
  font-size: 20px;
  color: #1abc9c;
}
.OrderPageDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.OrderPageComponent-h1 {
	color: #1abc9c;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-weight:800;
  font-size:50px;
}
.image-order {
  width: 10px;
  height: 100px;
}
.Send-order-button {
  display: grid;
  height: 200px;
  background-color: #1abc9c;
  height: 100%;
  padding-bottom: 30px;
  padding-top: 20px;
  width: 100%;
}
.sendbutton {
  width: 100px;
  margin-left: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 50px;
  color: black;
}
#app {
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  border: 5px dashed #1abc9c;
  box-shadow: #1abc9c 1px 5px 1px 5px;
  margin-bottom: 20px;

 
  .product-box {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    li {
      padding: 20px 0;
      &:nth-child(2){
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
      }
      input {
        display: inline-block;
        vertical-align: middle;
        width: 10%;
        margin-right: 5%;
        opacity: 1;
        position: relative;
        cursor: pointer;
      }
     
      h4 {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
      }
      p {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .price-box {
    margin: 30px 0;
    overflow: hidden;
    li {
      h3 {
        display: inline-block;
        width: 88%;
        vertical-align: middle;
      }
      
    }
  }
  button {
    border: none;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #28D4B0;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
}