  

  .AboutUsComponent-h2 {

    font-family: serif;
    font-weight:800;
    font-size:30px;
    color:black;
  }

  .AboutUsComponent {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgba(56, 109, 91, 0.87);   
     border: 3px solid #1abc9c;
    border-radius: 250px;
  }
  .AboutUs {
    color: white;
    font-family: serif;
    font-weight:800;
    font-size:20px;
  }