  

  .AboutUsComponent-h2 {

    font-family: 'Dancing Script', cursive;
    font-weight:800;
    font-size:20px;
    color:#b30086;
  }

  .AboutUsComponent {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .AboutUs {
    color: #24273b;
    font-family: 'Dancing Script', cursive;
    font-weight:800;
    font-size:20px;
  }