  

  .AboutUsComponent-h2 {

    font-family: 'Dancing Script', cursive;
    font-weight:800;
    font-size:30px;
    color:#1abc9c;
  }

  .AboutUsComponent {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url("https://cdn.hipwallpaper.com/i/63/90/qZAfaO.jpg");
    border: 3px solid #1abc9c;
    border-radius: 100px;
  }
  .AboutUs {
    color: #1abc9c;
    font-family: 'Dancing Script', cursive;
    font-weight:800;
    font-size:20px;
  }