

.header1 {
  width: 100%;
  background-color:rgb(37, 37, 119);
  opacity: .9;
}
.home-navbar  {
  font-size: 25px;
  color: white;
}

.DashboardNavbar {
 background-image: url(../AdminImages/image.jpg);
}
@media (max-width:800px) {
  .navbar1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

@media (max-width:640px) {
  ul li a {
      padding: .5em;
  }
  ul li a::before {
      content: '';
      width: 0;
  }
}




