

#dashboard {
  display: flex;
  flex-wrap: wrap;
}
#sidebar {
  padding-top: 10px;
  background-color: rgb(1, 5, 8);
  color: rgb(223, 210, 210);
  min-height: 900px;
}
#page-content {
  padding-top: 10px;
  background-color: rgb(3, 14, 22);
  color: #FFF;
}
.logo {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  font-size: 22px;
}
.user-info {
  margin-top: 20px;
  margin-bottom: 30px;
}
.user-info img {
  display: block;
  margin:0 auto;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.user-info h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 24px;
}
.user-rank {
  display: block;
  color: #eceef0;
  text-align: center;
}


/* Menu */
.menu {
  padding-left: 80px;
  margin-bottom: 30px;
}
.menu i {
  width: 25px;
  text-align: center;
  color: #144683;
  margin-right: 10px;
}
.menu li {
  list-style-type: none;
  padding: 15px 6px;
}
.menu li a {
  padding-left: 13px;
  color: #59626D;
  font-weight: bold;
  transition: all .5s;
}
.menu li a:hover {
  border-left: 3px solid #0581DD;
  text-decoration: none;
  color: #FFF;
  padding-left: 10px;
  transition: all .1s;
}
.menu li a:hover>i {
  color: rgb(234, 239, 243);
  transition: all .5s;
}
.menu .active a { 
  color: #FFF;
  border-left: 3px solid rgb(242, 246, 248);
  padding-left: 10px;
}



