

.addProducts--FormOffer {
  background-color: rgb(66, 66, 102);
}

.dash-board-button {
 
  margin-left: 28%;
  font-size: 20px;
  background-color: black;
  color:white;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  box-shadow: 5px 5px 5px 5px black;
  
}

.offer-component {
  padding-top: 20%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   grid-gap:20px;
  background-color: grey;
padding-bottom: 10px;
   padding-left: 70%;
   margin-right: 50%;
   width: 400%;
}

