.OffersItemsComponent {
  margin-bottom: 15px;
  padding-top: 12px ;
  padding-left: 12px;
 
}

.danger {
  background-color: black;
  border-left: 6px solid rgb(37, 37, 119);
  height: 100px;
  color: white;
}

.success {
  background-color: black;
  border-left: 6px solid rgb(37, 37, 119);
  height: 100px;
  color: white;
}

.info {
  background-color: black;
  border-left: 6px solid rgb(37, 37, 119);
  height: 100px;
  color: white;
}


.warning {
  background-color: black;
  border-left: 6px solid rgb(37, 37, 119);
  height: 100px;
  color: white;
}